<h4>
  Ця тема містить слова, пов'язані з домашніми тваринами, такими як собаки,
  коти, птахи, велика та мала рогата худоба та інші тварини, які люди утримують
  у своїх домівках.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.animale_domestice %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Am un câine și o pisică acasă.</strong> (У мене вдома є собака і
  кішка.)
</p>
<p><strong>Vaca paște iarbă pe câmp.</strong> (Корова пасеться на полі.)</p>
<p><strong>Găina face ouă în fiecare zi.</strong> (Курка несе яйця щодня.)</p>
<p>
  <strong>Copiii hrănesc iepurele cu morcovi.</strong> (Діти годують кролика
  морквою.)
</p>
<p>
  <strong>În acvariu înoată mulți pești colorați.</strong> (В акваріумі плаває
  багато різнокольорових риб.)
</p>
<p>
  <strong>Papagalul vorbește și cântă frumos.</strong> (Папуга говорить і гарно
  співає.)
</p>
<p><strong>Hamsterul se joacă în cușcă.</strong> (Хом’як грається у клітці.)</p>
<p>
  <strong>Calul aleargă repede pe câmp.</strong> (Кінь швидко біжить по полю.)
</p>
<p>
  <strong>Vaca dă lapte proaspăt în fiecare dimineață.</strong> (Корова дає
  свіже молоко щоранку.)
</p>
<p>
  <strong>Oaia are lână moale și albă.</strong> (Вівця має м’яку білу шерсть.)
</p>
<p>
  <strong>Porcul se joacă în noroi în curte.</strong> (Свиня грається в багнюці
  на подвір’ї.)
</p>
<p>
  <strong>Câinele păzește casa zi și noapte.</strong> (Собака охороняє будинок
  вдень і вночі.)
</p>
<p>
  <strong>Pisica doarme pe canapea toată ziua.</strong> (Кішка спить на дивані
  цілий день.)
</p>
<p>
  <strong>Iepurele mănâncă morcovi și salată.</strong> (Кролик їсть моркву і
  салат.)
</p>
