<h4>
  Ця тема містить слова, пов'язані з домашніми тваринами, такими як собаки,
  коти, птахи, велика та мала рогата худоба та інші тварини, які люди утримують
  у своїх домівках.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.animale_domestice %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Am un câine și o pisică acasă.</strong> (У мене вдома є собака і
  кішка.)
</p>
<p><strong>Vaca paște iarbă pe câmp.</strong> (Корова пасеться на полі.)</p>
<p><strong>Găina face ouă în fiecare zi.</strong> (Курка несе яйця щодня.)</p>
<p><strong>Porcul doarme în coteț.</strong> (Свиня спить у хліві.)</p>
<p>
  <strong>Calul aleargă repede pe pajiște.</strong> (Кінь швидко біжить по
  лузі.)
</p>
<p>
  <strong>Copiii hrănesc iepurele cu morcovi.</strong> (Діти годують кролика
  морквою.)
</p>
<p>
  <strong>În acvariu înoată mulți pești colorați.</strong> (В акваріумі плаває
  багато різнокольорових риб.)
</p>
<p>
  <strong>Papagalul vorbește și cântă frumos.</strong> (Папуга говорить і гарно
  співає.)
</p>
<p><strong>Oaia are lână moale.</strong> (Вівця має м’яку шерсть.)</p>
<p><strong>Hamsterul se joacă în cușcă.</strong> (Хом’як грається у клітці.)</p>
