<h4>
  Ці слова допоможуть розширити словниковий запас у сфері автомобілів та
  дорожнього руху. Вони включають назви частин та вузлів автомобіля, терміни з
  правил дорожнього руху та інші слова, пов'язані з цією темою.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.autovehicule %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
    <td class="col-ru">{{ row.ru | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Șoferul pornește motorul mașinii înainte de a pleca la drum.</strong>
  (Водій заводить мотор автомобіля перед поїздкою.)
</p>
<p>
  <strong
    >Volanul se rotește ușor atunci când virezi la stânga sau la
    dreapta.</strong
  >
  (Кермо легко повертається, коли ти повертаєш ліворуч або праворуч.)
</p>
<p>
  <strong>Frâna de mână trebuie trasă când parchezi pe o pantă.</strong> (Ручне
  гальмо потрібно затягувати, коли паркуєшся на схилі.)
</p>
<p>
  <strong>Oglinda retrovizoare te ajută să vezi mașinile din spate.</strong>
  (Дзеркало заднього виду допомагає бачити автомобілі позаду.)
</p>
<p>
  <strong>La semafor, șoferii opresc când lumina este roșie.</strong> (На
  світлофорі водії зупиняються, коли горить червоне світло.)
</p>
<p>
  <strong>Mașina are patru roți și fiecare roată are o anvelopă.</strong>
  (Автомобіль має чотири колеса, і на кожному колесі є шина.)
</p>
<p>
  <strong>În portbagaj poți pune bagaje sau cumpărături.</strong> (У багажнику
  можеш покласти багаж або покупки.)
</p>
<p>
  <strong
    >La intersecție, trebuie să acorzi prioritate pe drumul principal.</strong
  >
  (На перехресті потрібно надавати перевагу на головній дорозі.)
</p>
<p>
  <strong>Motocicleta și bicicleta sunt vehicule pe două roți.</strong>
  (Мотоцикл і велосипед — це транспортні засоби на двох колесах.)
</p>
<p>
  <strong>Autobuzul oprește la fiecare stație pentru a lua pasageri.</strong>
  (Автобус зупиняється на кожній зупинці, щоб взяти пасажирів.)
</p>
