<h4>
  Слова, що стосуються частин тіла та органів людини, включають назви основних
  регіонів (голова, шия, тулуб, кінцівки) та більш специфічні терміни, як-от
  мозок, серце, легені, а також зовнішні частини, такі як очі, ніс, рот, руки та
  ноги.
</h4>
<!-- prettier-ignore -->
{% assign word_list = site.data.corpul_uman %}
{% include word_table.html
rows=word_list %}

<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Mă doare gâtul și nu pot să înghit bine.</strong> (У мене болить
  горло, і я не можу добре ковтати.)
</p>
<p>
  <strong>Copilul ridică mâna ca să răspundă la întrebare.</strong> (Дитина
  піднімає руку, щоб відповісти на запитання.)
</p>
<p>
  <strong>Am o rană pe genunchi după ce am căzut.</strong> (У мене рана на
  коліні після того, як я впав.)
</p>
<p>
  <strong>Ochii verzi ai surorii mele sunt foarte frumoși.</strong> (Зелені очі
  моєї сестри дуже гарні.)
</p>
<p>
  <strong>Bunicul are barbă albă și mustață lungă.</strong> (У дідуся біла
  борода і довгі вуса.)
</p>
<p>
  <strong>Doctorul ascultă inima pacientului cu stetoscopul.</strong> (Лікар
  слухає серце пацієнта стетоскопом.)
</p>
<p>
  <strong>După alergare, simt mușchii obosiți.</strong> (Після бігу я відчуваю
  втому в м’язах.)
</p>
<p>
  <strong>Copiii își spală mâinile și fața înainte de masă.</strong> (Діти миють
  руки й обличчя перед їжею.)
</p>
<p>
  <strong>Am nevoie de ochelari pentru că nu văd bine cu ochiul drept.</strong>
  (Мені потрібні окуляри, бо я погано бачу правим оком.)
</p>
<p>
  <strong>Folosesc cremă pentru piele uscată iarna.</strong> (Взимку я
  використовую крем для сухої шкіри.)
</p>
