<h4>
  Ці слова допоможуть розширити словниковий запас у сфері медицини та здоров'я.
  Вони включають назви ліків, хвороб, медичних препаратів та інших термінів,
  пов'язаних із цією темою.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.farmacie_sanatate %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
&#42; В дужках дана форма дієслова для першої особи однини (Я).
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Farmacistul mi-a dat o rețetă pentru un antibiotic.</strong>
  (Фармацевт дав мені рецепт на антибіотик.)
</p>
<p>
  <strong>Am cumpărat vitamine, pastile și un unguent din farmacie.</strong> (Я
  купив вітаміни, таблетки і мазь в аптеці.)
</p>
<p>
  <strong>Pacientul are febră și durere de cap, deci ia un antitermic.</strong>
  (У пацієнта жар і головний біль, тому він приймає жарознижувальне.)
</p>
<p>
  <strong>Pentru răni mici folosesc plăsturi și antiseptic.</strong> (Для
  невеликих ран я використовую пластир і антисептик.)
</p>
<p>
  <strong
    >Medicul de familie mi-a recomandat un supliment alimentar pentru
    imunitatea.</strong
  >
  (Сімейний лікар порекомендував мені харчову добавку для імунітету.)
</p>
<p>
  <strong>Am nevoie de o rețetă pentru acest medicament?</strong>
  (Мені потрібен рецепт на ці ліки?)
</p>
<p>
  <strong>Unde este farmacia cea mai apropiată?</strong>
  (Де найближча аптека?)
</p>
<p>
  <strong>Cât costă acest antibiotic fără rețetă?</strong>
  (Скільки коштує цей антибіотик без рецепта?)
</p>
<p>
  <strong>Pot lua acest sirop dacă am febră?</strong>
  (Чи можу я приймати цей сироп, якщо у мене жар?)
</p>
<p>
  <strong>Farmacistul ți-a explicat cum să folosești unguentul?</strong>
  (Фармацевт пояснив тобі, як використовувати мазь?)
</p>
