<h4>
  Ці слова допоможуть розширити словниковий запас у сфері медицини та здоров'я.
  Вони включають назви ліків, хвороб, медичних препаратів та інших термінів,
  пов'язаних із цією темою.
</h4>
<!-- prettier-ignore -->
{% assign word_list = site.data.farmacie_sanatate %}
{% include word_table.html
rows=word_list %}


&#42; В дужках дана форма дієслова для першої особи однини (Я).
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Farmacistul mi-a dat o rețetă pentru un antibiotic.</strong>
  (Фармацевт дав мені рецепт на антибіотик.)
</p>
<p>
  <strong>Am cumpărat vitamine, pastile și un unguent din farmacie.</strong> (Я
  купив вітаміни, таблетки і мазь в аптеці.)
</p>
<p>
  <strong>Pacientul are febră și durere de cap, deci ia un antitermic.</strong>
  (У пацієнта жар і головний біль, тому він приймає жарознижувальне.)
</p>
<p>
  <strong>Pentru răni mici folosesc plăsturi și antiseptic.</strong> (Для
  невеликих ран я використовую пластир і антисептик.)
</p>
<p>
  <strong
    >Medicul de familie mi-a recomandat un supliment alimentar pentru
    imunitatea.</strong
  >
  (Сімейний лікар порекомендував мені харчову добавку для імунітету.)
</p>
<p>
  <strong>Am nevoie de o rețetă pentru acest medicament?</strong>
  (Мені потрібен рецепт на ці ліки?)
</p>
<p>
  <strong>Unde este farmacia cea mai apropiată?</strong>
  (Де найближча аптека?)
</p>
<p>
  <strong>Cât costă acest antibiotic fără rețetă?</strong>
  (Скільки коштує цей антибіотик без рецепта?)
</p>
<p>
  <strong>Pot lua acest sirop dacă am febră?</strong>
  (Чи можу я приймати цей сироп, якщо у мене жар?)
</p>
<p>
  <strong>Farmacistul ți-a explicat cum să folosești unguentul?</strong>
  (Фармацевт пояснив тобі, як використовувати мазь?)
</p>
<p>
  <strong>Mă răcesc ușor când este frig afară.</strong> (Я легко застуджуюся,
  коли на вулиці холодно.)
</p>
<p><strong>Tușesc de câteva zile.</strong> (Я кашляю вже кілька днів.)</p>
<p>
  <strong>Strănut des primăvara din cauza alergiilor.</strong> (Я часто чхаю
  навесні через алергію.)
</p>
<p>
  <strong>Mă îmbolnăvesc rar, pentru că am grijă de sănătatea mea.</strong> (Я
  рідко хворію, бо дбаю про своє здоров’я.)
</p>
<p>
  <strong>Mă vindec repede după o răceală ușoară.</strong> (Я швидко одужую
  після легкої застуди.)
</p>
<p><strong>Mă simt mai bine astăzi.</strong> (Я сьогодні почуваюся краще.)</p>
