<h4>
  Ця тема містить слова, пов'язані з Інтернетом, комп'ютерами, веб-сайтами,
  соціальними мережами та цифровими комунікаціями.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.internet %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
&#42; В дужках дана форма дієслова для першої особи однини (Я).
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong
    >Accesez internetul în fiecare zi pentru a naviga pe pagini web și rețele
    sociale.</strong
  >
  (Я заходжу в інтернет щодня, щоб переглядати веб-сторінки та соціальні
  мережі.)
</p>
<p>
  <strong
    >Mi-am creat un cont nou pe un site de educație și am setat o parolă
    sigură.</strong
  >
  (Я створив новий акаунт на освітньому сайті та встановив надійний пароль.)
</p>
<p>
  <strong
    >Am primit un e-mail cu un atașament important și un link către pagina
    principală.</strong
  >
  (Я отримав електронного листа з важливим вкладенням і посиланням на головну
  сторінку.)
</p>
<p>
  <strong
    >Pentru a descărca fișierul, trebuie să dai clic pe butonul de
    descărcare.</strong
  >
  (Щоб завантажити файл, потрібно натиснути на кнопку завантаження.)
</p>
<p>
  <strong
    >Înainte de a posta un comentariu, verifică setările contului tău.</strong
  >
  (Перед тим як залишити коментар, перевір налаштування свого акаунта.)
</p>
<p>
  <strong
    >Aplicația se încarcă rapid și oferă acces la toate funcțiile
    programului.</strong
  >
  (Додаток швидко завантажується і надає доступ до всіх функцій програми.)
</p>
<p>
  <strong>Poți distribui documentul prin chat sau apel video.</strong> (Ти можеш
  поділитися документом через чат або відеодзвінок.)
</p>
