<h4>
  Ці слова допоможуть тобі розширити свій словниковий запас у сфері емоцій та
  фізичних і психічних станів. Вони включають прикметники, які описують різні
  емоції, такі як радість, сум, гнів, страх, здивування, а також фізичні та
  психічні стани, такі як втома, стрес, спокійність тощо.
</h4>
<table class="table-custom">
  {% for row in site.data.emotii %}
  <tr>
    <td class="table-bold">{{ row.ro | markdownify }}</td>
    <td>{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
<hr />
<br />

<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/17277175aa2c43a9947f3022f3a3d738?themeId=1&templateId=46&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
