<!-- <h4>Прикметники емоцій та ємоційних, фізичних та психічних станів</h4> -->
<table>
  <tr>
    <td class="table-bold">sigur</td>
    <td class="table-bold">впевнений</td>
    <!-- <td>100%*</td> -->
  </tr>
  <tr>
    <td class="table-bold">calm</td>
    <td class="table-bold">спокійний</td>
    <!-- <td>100%</td> -->
  </tr>
  <tr>
    <td class="table-bold">echilibrat</td>
    <td class="table-bold">врівноважений</td>
    <!-- <td>60-70%</td> -->
  </tr>
  <tr>
    <td class="table-bold">îngrijorat</td>
    <td class="table-bold">стурбований</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">(ne)mulțumit</td>
    <td class="table-bold">(не)задоволений</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">plictisit</td>
    <td class="table-bold">нудьгуючий</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">obosit</td>
    <td class="table-bold">втомлений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">furios</td>
    <td class="table-bold">розлючений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">nervos</td>
    <td class="table-bold">нервовий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">anxios</td>
    <td class="table-bold">тривожний</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">timid</td>
    <td class="table-bold">сором'язливий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">generos</td>
    <td class="table-bold">щедрий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">trist</td>
    <td class="table-bold">сумний</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">confuz</td>
    <td class="table-bold">спантеличений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">sensibil</td>
    <td class="table-bold">чутливий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">îndrăgostit</td>
    <td class="table-bold">закоханий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">indecis</td>
    <td class="table-bold">нерішучий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">curajos</td>
    <td class="table-bold">сміливий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">răbdător</td>
    <td class="table-bold">терплячий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">epuizat</td>
    <td class="table-bold">виснажений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">îndrăgostit</td>
    <td class="table-bold">закоханий</td>
    <!-- <td>0%</td> -->
  </tr>
</table>
<hr />
<br />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/17277175aa2c43a9947f3022f3a3d738?themeId=1&templateId=46&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
