<!-- <h4>Прикметники емоцій та ємоційних, фізичних та психічних станів</h4> -->
<table>
  <tr>
    <td class="table-bold">sigur</td>
    <td>впевнений</td>
    <!-- <td>100%*</td> -->
  </tr>
  <tr>
    <td class="table-bold">calm</td>
    <td>спокійний</td>
    <!-- <td>100%</td> -->
  </tr>
  <tr>
    <td class="table-bold">echilibrat</td>
    <td>врівноважений</td>
    <!-- <td>60-70%</td> -->
  </tr>
  <tr>
    <td class="table-bold">îngrijorat</td>
    <td>стурбований</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">(ne)mulțumit</td>
    <td>(не)задоволений</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">plictisit</td>
    <td>нудьгуючий</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">obosit</td>
    <td>втомлений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">furios</td>
    <td>розлючений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">nervos</td>
    <td>нервовий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">anxios</td>
    <td>тривожний</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">timid</td>
    <td>сором'язливий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">generos</td>
    <td>щедрий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">trist</td>
    <td>сумний</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">confuz</td>
    <td>спантеличений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">sensibil</td>
    <td>чутливий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">îndrăgostit</td>
    <td>закоханий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">indecis</td>
    <td>нерішучий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">curajos</td>
    <td>сміливий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">răbdător</td>
    <td>терплячий</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">epuizat</td>
    <td>виснажений</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">îndrăgostit</td>
    <td>закоханий</td>
    <!-- <td>0%</td> -->
  </tr>
</table>
<hr />
<br />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/17277175aa2c43a9947f3022f3a3d738?themeId=1&templateId=46&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
