<h4>
  Прислівники які вказують на те, як часто відбувається певна дія. Відповідають
  на питання ЯК ЧАСТО?
</h4>
<table>
  <tr>
    <td class="table-bold">întotdea<u>u</u>na, mer<u>e</u>u</td>
    <td class="table-bold">завжди</td>
    <!-- <td>100%*</td> -->
  </tr>
  <tr>
    <td class="table-bold">(în) tot timpul</td>
    <td class="table-bold">весь час</td>
    <!-- <td>100%</td> -->
  </tr>
  <tr>
    <td class="table-bold">ad<u>e</u>sea, des, d<u>e</u>seori</td>
    <td class="table-bold">часто</td>
    <!-- <td>60-70%</td> -->
  </tr>
  <tr>
    <td class="table-bold">une<u>o</u>ri, câteod<u>a</u>tă</td>
    <td class="table-bold">іноді, інколи</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">din când în când, din timp în timp</td>
    <td class="table-bold">час від часу</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">rar</td>
    <td class="table-bold">рідко</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">niciod<u>a</u>tă</td>
    <td class="table-bold">ніколи</td>
    <!-- <td>0%</td> -->
  </tr>
</table>
<b>&lowast;</b> - умовні цифри для розуміння частоти використання прислівників.
<hr />
<br />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/9373c58b67374a8cb00d6c7eae425ea4?themeId=41&templateId=76&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
