<p>
  Це найбільш вживані прислівники, які розпочинаються на букву А, які допоможуть
  тобі збільшити свій словниковий запас та покращити розуміння румунської мови.
  Їх особливість полягає в тому, що вони всі починаються з літери А, тому їх
  легко сплутати.
</p>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.adverbe_a %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong lang="ro">Abia am terminat temele pentru astăzi.</strong>
  <span lang="uk">(Я щойно закінчив домашнє завдання на сьогодні.)</span>
</p>
<p>
  <strong lang="ro">Copiii se joacă afară în parc.</strong>
  <span lang="uk">(Діти граються на вулиці в парку.)</span>
</p>
<p>
  <strong lang="ro"
    >Acum începem lecția, puneți-vă notițele la îndemână.</strong
  >
  <span lang="uk"
    >(Зараз починаємо урок, тримайте свої нотатки під рукою.)</span
  >
</p>
<p>
  <strong lang="ro">Mă spăl pe mâini, iar apoi mănânc.</strong>
  <span lang="uk">(Я мию руки, а потім їм.)</span>
</p>
<p>
  <strong lang="ro">Lasă geanta aici, nu o lua cu tine.</strong>
  <span lang="uk">(Залиш сумку тут, не бери її з собою.)</span>
</p>
<p>
  <strong lang="ro">Vedeți acea clădire acolo, pe colț?</strong>
  <span lang="uk">(Бачите ту будівлю там, на розі?)</span>
</p>
<p>
  <strong lang="ro">Vorbește așa încet pentru că bebelușul doarme.</strong>
  <span lang="uk">(Говорить так тихо, тому що немовля спить.)</span>
</p>
<p>
  <strong lang="ro">Astăzi merg la bibliotecă să caut o carte nouă.</strong>
  <span lang="uk">(Сьогодні йду до бібліотеки шукати нову книгу.)</span>
</p>
<p>
  <strong lang="ro">Fă proiectul altfel dacă vrei un rezultat mai bun.</strong>
  <span lang="uk">(Зроби проєкт інакше, якщо хочеш кращий результат.)</span>
</p>
<p>
  <strong lang="ro"
    >Învăț astfel încât să pot susține examenul cu succes.</strong
  >
  <span lang="uk">(Вчусь таким чином, щоб успішно скласти іспит.)</span>
</p>
<p>
  <strong lang="ro">După serviciu mă întorc acasă și gătesc cina.</strong>
  <span lang="uk">(Після роботи повертаюся додому і готую вечерю.)</span>
</p>
<p>
  <strong lang="ro">Locuiesc aproape de parc, așa că merg des acolo.</strong>
  <span lang="uk">(Я живу поруч з парком, тому часто туди ходжу.)</span>
</p>
<p>
  <strong lang="ro">Atunci am înțeles ce trebuia de făcut.</strong>
  <span lang="uk">(Тоді я зрозумів, що потрібно було зробити.)</span>
</p>
<p>
  <strong lang="ro">Stau alături de fratele meu în public.</strong>
  <span lang="uk">(Я сиджу поруч з братом на публіці.)</span>
</p>
<p>
  <strong lang="ro">Alaltăieri am vizitat un muzeu interesant.</strong>
  <span lang="uk">(Позавчора відвідав цікавий музей.)</span>
</p>
<p>
  <strong lang="ro"
    >Am atât de multe idei pentru proiect încât nu știu de unde să
    încep.</strong
  >
  <span lang="uk"
    >(У мене так багато ідей для проєкту, що я не знаю, з чого почати.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Adesea ies la alergat dimineața pentru a mă menține în formă.</strong
  >
  <span lang="uk">(Я часто бігаю вранці, щоб підтримувати форму.)</span>
</p>
<hr />
<br />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/84dd8f09e93246a6bbb85644da432765?themeId=1&templateId=46&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
