<h4>
  Прислівники які вказують на те, як часто відбувається певна дія. Відповідають
  на питання ЯК ЧАСТО? В таблиці наведені у порядку зниження частоти, від
  найчастіших до найрідкісніших.
</h4>
<!-- prettier-ignore -->
{% assign word_list = site.data.adverbe_frecventa %}
{% include word_table.html
rows=word_list %}

<p>
  <u class="highlight-yellow"
    >Інші прислівникові структури які позначають періодичність або частоту:</u
  >
</p>
<ul class="main-font">
  <li>
    <strong lang="ro">În fiecare zi = z<u>i</u>lnic - </strong>
    <span lang="uk">Кожного дня</span>
  </li>
  <li>
    <strong lang="ro">În fiecare an = anu<u>a</u>l - </strong>
    <span lang="uk">Кожного року</span>
  </li>
  <li>
    <strong lang="ro">În fiecare lună = lun<u>a</u>r - </strong>
    <span lang="uk">Кожного місяця</span>
  </li>
  <li>
    <strong lang="ro">În fiecare săptămână = săptămân<u>a</u>l - </strong>
    <span lang="uk">Кожного тижня</span>
  </li>
  <li>
    <strong lang="ro">În fiecare dimineață (seară, noapte) - </strong>
    <span lang="uk">Кожного ранку (вечора, ночі)</span>
  </li>
  <li>
    <strong lang="ro">De fiecare dată - </strong>
    <span lang="uk">Кожного разу</span>
  </li>
  <li>
    <strong lang="ro">O dată pe săptămână (lună, an, ...) - </strong>
    <span lang="uk">Один раз на тиждень (місяць, рік, ...)</span>
  </li>
  <li>
    <strong lang="ro"
      >O dată la două (trei, patru, ...) săptămâni (luni, ani, ...) -
    </strong>
    <span lang="uk"
      >Один раз на два (три, чотири, ...) тижні (місяці, роки, ...)</span
    >
  </li>
</ul>
<p>
  <u class="highlight-yellow">
    <span lang="ro">Exemple de propoziții</span> /
    <span lang="uk">Приклади речень</span>
  </u>
</p>
<p>
  <strong lang="ro"
    >Întotdeauna încerc să învăț ceva nou, chiar și atunci când am puțin timp
    liber.</strong
  >
  <span lang="uk">
    (Я завжди намагаюся вчити щось нове, навіть коли маю мало вільного
    часу.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Frecvent particip la proiecte de voluntariat pentru a ajuta
    comunitatea.</strong
  >
  <span lang="uk">
    (Я часто беру участь у волонтерських проєктах, щоб допомогти громаді.)</span
  >
</p>
<p>
  <strong lang="ro"
    >De multe ori, când plouă, prefer să citesc o carte acasă în loc să ies
    afară.</strong
  >
  <span lang="uk">
    (Багато разів, коли йде дощ, я віддаю перевагу читанню книжки вдома, а не
    прогулянці.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Uneori, după o zi lungă de muncă, gătesc cina împreună cu familia
    mea.</strong
  >
  <span lang="uk">
    (Іноді після довгого робочого дня я готую вечерю разом зі своєю
    родиною.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Din când în când, mergem cu prietenii la munte pentru a ne relaxa și a
    respira aer curat.</strong
  >
  <span lang="uk">
    (Час від часу ми їздимо з друзями в гори, щоб відпочити і подихати свіжим
    повітрям.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Ocazional, primesc invitații la evenimente culturale unde pot cunoaște
    oameni noi.</strong
  >
  <span lang="uk">
    (Іноді я отримую запрошення на культурні заходи, де можу познайомитися з
    новими людьми.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Rar se întâmplă să uit de o întâlnire importantă, pentru că îmi notez totul
    în agendă.</strong
  >
  <span lang="uk">
    (Рідко трапляється, що я забуваю про важливу зустріч, бо все записую в
    щоденник.)</span
  >
</p>
<p>
  <strong lang="ro"
    >Niciodată nu plec de acasă fără să verific dacă am închis ușa.</strong
  >
  <span lang="uk">
    (Я ніколи не виходжу з дому, не перевіривши, чи зачинені двері.)</span
  >
</p>
<hr />
<p></p>
<p>
  <u class="highlight-yellow">Перевірте себе:</u>
</p>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/9373c58b67374a8cb00d6c7eae425ea4?themeId=41&templateId=76&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
