<h4>
  Слова які позначають назви ліків, хвороб, медичних препаратів і так далі.
</h4>
<table class="table-custom">
  <tr>
    <td class="table-bold">farmac<u>i</u>e</td>
    <td>аптека</td>
    <!-- <td>100%*</td> -->
  </tr>
  <tr>
    <td class="table-bold">vitam<u>i</u>nă</td>
    <td>вітамін</td>
    <!-- <td>100%</td> -->
  </tr>
  <tr>
    <td class="table-bold">past<u>i</u>lă</td>
    <td>таблетка, пігулка</td>
    <!-- <td>60-70%</td> -->
  </tr>
  <tr>
    <td class="table-bold">comprim<u>a</u>t</td>
    <td>таблетка, пігулка</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">supliment (alimentar)</td>
    <td>(харчова) добавка</td>
    <!-- <td>20-30%</td> -->
  </tr>
  <tr>
    <td class="table-bold">caps<u>u</u>lă</td>
    <td>капсула</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">ungu<u>e</u>nt</td>
    <td>мазь</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">gel</td>
    <td>гель</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">cr<u>e</u>mă</td>
    <td>крем</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">picăt<u>u</u>ri</td>
    <td>краплі</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">inf<u>u</u>zie</td>
    <td>настій</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">analg<u>e</u>zic</td>
    <td>анальгетик</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">antit<u>e</u>rmic</td>
    <td>жарознижуюче</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">antis<u>e</u>ptic</td>
    <td>антісептик</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">antiinflamat<u>o</u>r</td>
    <td>протизапальне</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">ac</td>
    <td>ігла</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">ser<u>i</u>ngă</td>
    <td>шприц</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">pansam<u>e</u>nt (steril)</td>
    <td>бинт (стерильний)</td>
    <!-- <td>10-15%</td> -->
  </tr>
  <tr>
    <td class="table-bold">pl<u>a</u>stură</td>
    <td>пластир</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">perf<u>u</u>zie</td>
    <td>крапельниця</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">inj<u>e</u>cție</td>
    <td>укол</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">gar<u>o</u>u</td>
    <td>джгут</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">--</td>
    <td>--</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">inflam<u>a</u>ție</td>
    <td>запалення</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">rană</td>
    <td>рана</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">sânger<u>a</u>re</td>
    <td>кровотеча</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">cârc<u>e</u>l</td>
    <td>судома</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">alerg<u>i</u>e</td>
    <td>алергія</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">mâncăr<u>i</u>me</td>
    <td>зуд</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold"><u>a</u>rsuri la stom<u>a</u>c</td>
    <td>ізжога</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">ameț<u>ea</u>lă</td>
    <td>запаморочення</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">nas înfundat</td>
    <td>закладений ніс</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">f<u>e</u>bră</td>
    <td>жар, температура</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">fris<u>o</u>n</td>
    <td>озноб</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">er<u>u</u>pție</td>
    <td>сип</td>
    <!-- <td>0%</td> -->
  </tr>
  <tr>
    <td class="table-bold">infecție f<u>u</u>ngică</td>
    <td>грибкова інфекція</td>
    <!-- <td>0%</td> -->
  </tr>
</table>
