<div class="sticky">
  <div class="table-column-toggle">
    <label>
      <input type="checkbox" id="toggle-ro" checked />
      Показати румунську
    </label>
    <label>
      <input type="checkbox" id="toggle-ua" checked />
      Показати переклад
    </label>
  </div>
  <div class="lang-toggle">
    <div class="lang-toggle-hint">
      <em>Або торкніться комірки у таблиці, щоб приховати/показати її.</em>
    </div>
    <div class="table-lang-toggle">
      <div class="site-header-lang-label" id="site-header-lang-label">UA</div>
    </div>
  </div>
</div>
