<div>
  <p>Дієслова с закінченням на -I або на -Î у формі ініфінітива.</p>
  <p>Наголос в цих дієсловах у інфінітиві падає на останній склад.</p>
  <p>
    Щоб провідміняти дієслово, беремо основу дієслова та додаємо до неї суфікс +
    закінчення згідно таблиці нижче.
  </p>
  <p>
    Для прикладу візьмемо дієслово <b>A VORB<u>I</u></b> (говорити, розмовляти). Основою
    дієслова є <b>VORB</b>:
  </p>
</div>
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">Особа</th>
      <th class="table-bold">Суфікс</th>
      <th class="table-bold">Закінч.</th>
      <th class="table-bold">Відмінювання</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold">-esc-</td>
      <td class="table-bold">-</td>
      <td class="table-bold">vorb<span class="blue-bold"><u>e</u>sc</span></td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold">-eșt-</td>
      <td class="table-bold">-i</td>
      <td class="table-bold">vorb<span class="blue-bold"><u>e</u>ști</span></td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold">-eșt-</td>
      <td class="table-bold">-e</td>
      <td class="table-bold">vorb<span class="blue-bold"><u>e</u>ște</span></td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold">-</td>
      <td class="table-bold">-im</td>
      <td class="table-bold">vorb<span class="blue-bold"><u>i</u>m</span></td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold">-</td>
      <td class="table-bold">-iți</td>
      <td class="table-bold">vorb<span class="blue-bold"><u>i</u>ți</span></td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold">-esc</td>
      <td class="table-bold">-</td>
      <td class="table-bold">vorb<span class="blue-bold"><u>e</u>sc</span></td>
    </tr>
  </tbody>
</table>
</div>
<p class="lang-ua">
  <u>Є одне невелике виключеня з цього правила:</u>
</p>
дієслова які закінчуються на <i>-ui, -ăi</i>, такі як
<i>locui, trăi, alcătui, cheltui </i>, та інші -
  суфікс додається безпосередньо до початкової форми дієслова (червоним кольором позначені відмінності):
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">Особа</th>
      <th class="table-bold">a locui</th>
      <th class="table-bold">a trăi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold">locu<span class="red-bold">i</span><u>e</u>sc</td>
      <td class="table-bold">tră<span class="red-bold">i</span><u>e</u>sc</td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold">locu<span class="red-bold">i</span><u>e</u>ști</td>
      <td class="table-bold">tră<span class="red-bold">i</span><u>e</u>ști</td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold">locu<span class="red-bold">i</span><u>e</u>ște</td>
      <td class="table-bold">tră<span class="red-bold">i</span><u>e</u>ște</td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold">locu<u>i</u>m</td>
      <td class="table-bold">tră<u>i</u>m</td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold">locu<u>i</u>ți</td>
      <td class="table-bold">tră<u>i</u>ți</td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold">locu<span class="red-bold">i</span><u>e</u>sc</td>
      <td class="table-bold">tră<span class="red-bold">i</span><u>e</u>sc</td>
    </tr>
  </tbody>
</table>
</div>

До цієї ж группи відносяться дієслова які закінчуються на <i>-î</i>, такі як
  <i>hotărî, pârî, urî</i>, та інші. Вони
  відмінюються таким чином:
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">Особа</th>
      <th class="table-bold">a hotărî</th>
      <th class="table-bold">a pârî</th>
      <th class="table-bold">a urî</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold">hotăr<span class="blue-bold"><u>ă</u>sc</span></td>
      <td class="table-bold">pâr<span class="blue-bold"><u>ă</u>sc</span></td>
      <td class="table-bold">ur<span class="blue-bold"><u>ă</u>sc</span></td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold">hotăr<span class="blue-bold"><u>ă</u>ști</span></td>
      <td class="table-bold">pâr<span class="blue-bold"><u>ă</u>ști</span></td>
      <td class="table-bold">ur<span class="blue-bold"><u>ă</u>ști</span></td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold">hotăr<span class="blue-bold"><u>ă</u>ște</span></td>
      <td class="table-bold">pâr<span class="blue-bold"><u>ă</u>ște</span></td>
      <td class="table-bold">ur<span class="blue-bold"><u>ă</u>ște</span></td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold">hotăr<span class="blue-bold"><u>â</u>m</span></td>
      <td class="table-bold">pâr<span class="blue-bold"><u>â</u>m</span></td>
      <td class="table-bold">ur<span class="blue-bold"><u>â</u>m</span></td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold">hotăr<span class="blue-bold"><u>â</u>ți</span></td>
      <td class="table-bold">pâr<span class="blue-bold"><u>â</u>ți</span></td>
      <td class="table-bold">ur<span class="blue-bold"><u>â</u>ți</span></td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold">hotăr<span class="blue-bold"><u>ă</u>sc</span></td>
      <td class="table-bold">pâr<span class="blue-bold"><u>ă</u>sc</span></td>
      <td class="table-bold">ur<span class="blue-bold"><u>ă</u>sc</span></td>
    </tr>
  </tbody>
</table>
</div>

<hr />
<br />
Список дієслів четвертої групи з суфіксом -ESC:
<!-- prettier-ignore -->
{% assign verb_list = site.data.verbe_4_cu_sufix %}
{% include verb_list.html rows=verb_list %}
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>

<p>
  <strong lang="ro">El trăiește în acest oraș.</strong>
  <span lang="uk">(Він живе в цьому місті.)</span>
</p>

<p>
  <strong lang="ro">Noi depășim obstacolele.</strong>
  <span lang="uk">(Ми долаємо перешкоди.)</span>
</p>

<p>
  <strong lang="ro">Ei clădesc un muzeu.</strong>
  <span lang="uk">(Вони будують музей.)</span>
</p>

<p>
  <strong lang="ro">Voi greșiți uneori.</strong>
  <span lang="uk">(Ви іноді помиляєтесь.)</span>
</p>
<hr />
<br />
<p>Перевірте як добре ви знаєте дієслова з цієї групи:</p>
<iframe
  style="max-width:100%"
  src="https://wordwall.net/uk/embed/9271657f185e4d349efd2f74b936ff5f?themeId=41&templateId=76&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
