Форми дієслова A FI (бути) в теперішньому часі:
<table class="table-verb">
  <thead>
    <tr>
      <th>Особа</th>
      <th>Форма</th>
      <th>Приклад</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Eu (Я)</td>
      <td class="col-verbul">sunt</td>
      <td>Eu sunt bărbat - Я чоловік</td>
    </tr>
    <tr>
      <td>Tu (Ти)</td>
      <td class="col-verbul">ești</td>
      <td>Tu ești englez? - Ти англічанин?</td>
    </tr>
    <tr>
      <td>El, Ea (Він, Вона)</td>
      <td class="col-verbul">este, e</td>
      <td>El este obosit - Він втомлений</td>
    </tr>
    <tr>
      <td>Noi (Ми)</td>
      <td class="col-verbul">suntem</td>
      <td>Noi suntem din Ucraina - Ми з України</td>
    </tr>
    <tr>
      <td>Voi, Dvs. (Ви)</td>
      <td class="col-verbul">sunteți</td>
      <td>Voi unde sunteți? - Де ви є?</td>
    </tr>
    <tr>
      <td>Ei, Ele (Вони)</td>
      <td class="col-verbul">sunt</td>
      <td>Ei sunt acasă - Вони вдома</td>
    </tr>
  </tbody>
</table>
<hr />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Eu sunt</strong> inginer. (Я є інженером)
</p>
<p>
  <strong>Tu ești</strong> student? (Ти студент?)
</p>
<p>
  <strong>El este</strong> obosit după o zi lungă. (Він втомлений після довгого дня)
</p>
<p>
  <strong>Noi suntem</strong> prieteni buni. (Ми добрі друзі)
</p>
<p>
  <strong>Voi sunteți</strong> gata să plecați? (Ви готові йти?)
</p>
<p>
  <strong>Ei sunt</strong> la școală. (Вони в школі)
</p>
<hr />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/21c97c9ba91f4809b5074bfed2ab2d92?themeId=1&templateId=36&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
