<div>
  <p>Дієслова першої групи на -A (Infinitiv: a + основа + a) БЕЗ СУФІКСУ.</p>
  <p>
    Вони є найчисельнішою групою дієслів у румунській мові. Наголос в цих
    дієсловах у інфінітиві падає на останній склад
  </p>
  <p>
    Щоб провідміняти дієслово, беремо основу дієслова та додаємо до неї
    закінчення згідно таблиці нижче.
  </p>
  <p>
    Візьмемо для прикладу дієслово <b>A TERMIN<u>A</u></b> (закінчувати):
  </p>
</div>
<table class="table-verb">
  <thead>
    <tr>
      <td class="table-bold">Особа</td>
      <td class="table-bold">Закінчення</td>
      <td class="table-bold">Відмінювання</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold">---</td>
      <td class="table-bold">t<u>e</u>rmin</td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold">-i</td>
      <td class="table-bold">t<u>e</u>rmin<span class="blue-bold">i</span></td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold">-ă</td>
      <td class="table-bold">t<u>e</u>rmin<span class="blue-bold">ă</span></td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold">-ăm</td>
      <td class="table-bold">
        termin<span class="blue-bold"><u>ă</u>m</span>
      </td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold">-ați</td>
      <td class="table-bold">
        termin<span class="blue-bold"><u>a</u>ți</span>
      </td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold">-ă</td>
      <td class="table-bold">t<u>e</u>rmin<span class="blue-bold">ă</span></td>
    </tr>
  </tbody>
</table>
<p>Перевірте як добре ви знаєте дієслова з цієї групи:</p>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/5ebd2efc289d4f14a6a5e4610583fb82?themeId=41&templateId=76&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
