<div>
  <p>Дієслова першої групи на -A (Infinitiv: a + основа + a) БЕЗ СУФІКСУ.</p>
  <p>
    Вони є найчисельнішою групою дієслів у румунській мові. Наголос в цих
    дієсловах у інфінітиві падає на останній склад.
  </p>
  <p>
    Щоб провідміняти дієслово, беремо основу дієслова та додаємо до неї
    закінчення згідно таблиці нижче.
  </p>
  <p>
    Візьмемо для прикладу дієслово <b>A TERMIN<u>A</u></b> (закінчувати).
    Основою дієслова є <b>TERMIN</b>:
  </p>
</div>
<div class="table-wrapper">
  <table class="table-verb">
    <thead>
      <tr>
        <th class="table-bold">Особа</th>
        <th class="table-bold">Закінчення</th>
        <th class="table-bold">Відмінювання</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-bold">Eu</td>
        <td class="table-bold">---</td>
        <td class="table-bold">t<u>e</u>rmin</td>
      </tr>
      <tr>
        <td class="table-bold">Tu</td>
        <td class="table-bold">-i</td>
        <td class="table-bold">t<u>e</u>rmin<span class="blue-bold">i</span></td>
      </tr>
      <tr>
        <td class="table-bold">El, Ea</td>
        <td class="table-bold">-ă</td>
        <td class="table-bold">t<u>e</u>rmin<span class="blue-bold">ă</span></td>
      </tr>
      <tr>
        <td class="table-bold">Noi</td>
        <td class="table-bold">-ăm</td>
        <td class="table-bold">
          termin<span class="blue-bold"><u>ă</u>m</span>
        </td>
      </tr>
      <tr>
        <td class="table-bold">Voi</td>
        <td class="table-bold">-ați</td>
        <td class="table-bold">
          termin<span class="blue-bold"><u>a</u>ți</span>
        </td>
      </tr>
      <tr>
        <td class="table-bold">Ei, Ele</td>
        <td class="table-bold">-ă</td>
        <td class="table-bold">t<u>e</u>rmin<span class="blue-bold">ă</span></td>
      </tr>
    </tbody>
  </table>
</div>
<p class="lang-ua">
  <u>Є декілька виключень з цього правила:</u>
</p>
- дієслова які закінчуються на <i>-bla, -pla, -tra, -fla</i>, такі як
<i>umbla, umfla, afla</i>, та інші
  відмінюються таким чином (червоним кольором позначені відмінності):
<div class="table-wrapper">
  <table class="table-verb">
    <thead>
      <tr>
        <th class="table-bold">Особа</th>
        <th class="table-bold">a afla</th>
        <th class="table-bold">a intra</th>
        <th class="table-bold">a umbla</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-bold">Eu</td>
        <td class="table-bold"><u>a</u>fl<span class="red-bold">u</span></td>
        <td class="table-bold"><u>i</u>ntr<span class="red-bold">u</span></td>
        <td class="table-bold"><u>u</u>mbl<span class="red-bold">u</span></td>
        </tr>
      <tr>
        <td class="table-bold">Tu</td>
        <td class="table-bold"><u>a</u>fli</td>
        <td class="table-bold"><u>i</u>ntri</td>
        <td class="table-bold"><u>u</u>mbli</td>
      </tr>
      <tr>
        <td class="table-bold">El, Ea</td>
        <td class="table-bold"><u>a</u>flă</td>
        <td class="table-bold"><u>i</u>ntră</td>
        <td class="table-bold"><u>u</u>mblă</td>
      </tr>
      <tr>
        <td class="table-bold">Noi</td>
        <td class="table-bold">afl<u>ă</u>m</td>
        <td class="table-bold">intr<u>ă</u>m</td>
        <td class="table-bold">umbl<u>ă</u>m</td>
      </tr>
      <tr>
        <td class="table-bold">Voi</td>
        <td class="table-bold">afl<u>a</u>ți</td>
        <td class="table-bold">intr<u>a</u>ți</td>
        <td class="table-bold">umbl<u>a</u>ți</td>
      </tr>
      <tr>
        <td class="table-bold">Ei, Ele</td>
        <td class="table-bold"><u>a</u>flă</td>
        <td class="table-bold"><u>i</u>ntră</td>
        <td class="table-bold"><u>u</u>mblă</td>
      </tr>
    </tbody>
  </table>
</div>

- дієслова які закінчуються на <i>-ia</i>, такі як
<i>apropia, întârzia, tăia</i>, та інші
  відмінюються таким чином:
<div class="table-wrapper">
  <table class="table-verb">
    <thead>
      <tr>
        <th class="table-bold">Особа</th>
        <th class="table-bold">a apropia</th>
        <th class="table-bold">a întârzia</th>
        <th class="table-bold">a tăia</th>
        <th class="table-bold">a încuia</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-bold">Eu</td>
        <td class="table-bold">apr<u>o</u>pi<span class="red-bold">i</span></td>
        <td class="table-bold">înt<u>â</u>rzi<span class="red-bold">i</span></td>
        <td class="table-bold">ta<span class="red-bold">i</span></td>
        <td class="table-bold">înc<u>u</u><span class="red-bold">i</span></td>
        </tr>
      <tr>
        <td class="table-bold">Tu</td>
        <td class="table-bold">apr<u>o</u>pii</td>
        <td class="table-bold">înt<u>â</u>rzii</td>
        <td class="table-bold">t<u>a</u><span class="red-bold">i</span></td>
        <td class="table-bold">înc<u>u</u><span class="red-bold">i</span></td>
      </tr>
      <tr>
        <td class="table-bold">El, Ea</td>
        <td class="table-bold">apr<u>o</u>pi<span class="red-bold">e</span></td>
        <td class="table-bold">înt<u>â</u>rzi<span class="red-bold">e</span></td>
        <td class="table-bold">t<u>a</u>i<span class="red-bold">e</span></td>
        <td class="table-bold">înc<u>u</u>i<span class="red-bold">e</span></td>
      </tr>
      <tr>
        <td class="table-bold">Noi</td>
        <td class="table-bold">apropi<span class="red-bold"><u>e</u>m</span></td>
        <td class="table-bold">întârzi<span class="red-bold"><u>e</u>m</span></td>
        <td class="table-bold">tăi<span class="red-bold"><u>e</u>m</span></td>
        <td class="table-bold">încui<span class="red-bold"><u>e</u>m</span></td>
      </tr>
      <tr>
        <td class="table-bold">Voi</td>
        <td class="table-bold">apropi<u>a</u>ți</td>
        <td class="table-bold">întârzi<u>a</u>ți</td>
        <td class="table-bold">tăi<u>a</u>ți</td>
        <td class="table-bold">încui<u>a</u>ți</td>
      </tr>
      <tr>
        <td class="table-bold">Ei, Ele</td>
        <td class="table-bold">apr<u>o</u>pi<span class="red-bold">e</span></td>
        <td class="table-bold">înt<u>â</u>rzi<span class="red-bold">e</span></td>
        <td class="table-bold">t<u>a</u>i<span class="red-bold">e</span></td>
        <td class="table-bold">înc<u>u</u>i<span class="red-bold">e</span></td>
      </tr>
    </tbody>
  </table>
</div>

- дієслово <i>a continua</i>:
<div class="table-wrapper">
  <table class="table-verb">
    <thead>
      <tr>
        <th class="table-bold">Особа</th>
        <th class="table-bold">a continua</th>       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-bold">Eu</td>
        <td class="table-bold">cont<u>i</u>nu<span class="red-bold">u</span></td>
        </tr>
      <tr>
        <td class="table-bold">Tu</td>
        <td class="table-bold">cont<u>i</u>nui</td>
      </tr>
      <tr>
        <td class="table-bold">El, Ea</td>
        <td class="table-bold">cont<u>i</u>nue</td>
      </tr>
      <tr>
        <td class="table-bold">Noi</td>
        <td class="table-bold">continu<u>ă</u>m</td>
      </tr>
      <tr>
        <td class="table-bold">Voi</td>
        <td class="table-bold">continu<u>a</u>ți</td>
      </tr>
      <tr>
        <td class="table-bold">Ei, Ele</td>
        <td class="table-bold">cont<u>i</u>nue</td>
      </tr>
    </tbody>
  </table>
</div>

<hr />
<br />
Список дієслів першої групи без суфікса
<!-- prettier-ignore -->
{% assign verb_list = site.data.verbe_1_fara_sufix %}
{% include verb_list.html rows=verb_list %}
<hr />
<br />

<p>Перевірте як добре ви знаєте дієслова з цієї групи:</p>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/5ebd2efc289d4f14a6a5e4610583fb82?themeId=41&templateId=76&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
