<h4>Відмінювання дієслова A FI (бути):</h4>
<table>
  <tr>
    <td>Особа</td>
    <td>Дієслово</td>
    <td>Приклад</td>
  </tr>
  <tr>
    <td>Eu (Я)</td>
    <td class="table-bold">sunt</td>
    <td>Eu sunt bărbat - Я чоловік</td>
  </tr>
  <tr>
    <td>Tu (Ти)</td>
    <td class="table-bold">ești</td>
    <td>Tu ești englez? - Ти англічанин?</td>
  </tr>
  <tr>
    <td>El, Ea (Він, Вона)</td>
    <td class="table-bold">este, e</td>
    <td>El este obosit - Він втомлений</td>
  </tr>
  <tr>
    <td>Noi (Ми)</td>
    <td class="table-bold">suntem</td>
    <td>Noi suntem din Ucraina - Ми з України</td>
  </tr>
  <tr>
    <td>Voi, Dvs. (Ви)</td>
    <td class="table-bold">sunteți</td>
    <td>Voi unde sunteți? - Де ви є?</td>
  </tr>
  <tr>
    <td>Ei, Ele (Вони)</td>
    <td class="table-bold">sunt</td>
    <td>Ei sunt acasă - Вони вдома</td>
  </tr>
</table>
<hr />
<br />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/21c97c9ba91f4809b5074bfed2ab2d92?themeId=1&templateId=36&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
