<div>
  <p>Наголос в цих дієсловах в інфінітиві падає на передостанній склад та не змінюється при відмінюванні</p>
  <p>
    Щоб провідміняти дієслово, беремо основу дієслова та додаємо до неї
    закінчення згідно таблиці нижче.
  </p>
  <p>
    Візьмемо для прикладу дієслово <b>A F<u>A</u>CE</b> (робити). Основою
    дієслова є <b>FAC</b>:
  </p>
</div>
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">Особа</th>
      <th class="table-bold">Закінч.</th>
      <th class="table-bold">Відмінювання</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold">-</td>
      <td class="table-bold">f<u>a</u>c</td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold">-i</td>
      <td class="table-bold">f<u>a</u>c<span class="blue-bold">i</span></td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold">-e</td>
      <td class="table-bold">f<u>a</u>c<span class="blue-bold">e</span></td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold">-em</td>
      <td class="table-bold">f<u>a</u>c<span class="blue-bold">em</span></td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold">-eți</td>
      <td class="table-bold">f<u>a</u>c<span class="blue-bold">eți</span></td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold">-</td>
      <td class="table-bold">fac</td>
    </tr>
  </tbody>
</table>
</div>
<p class="lang-ua">
  <u>Є декілька виключень з цього правила:</u>
</p>
- дієслово <i>a scrie</i> (пис<u>а</u>ти) та похідні від нього відмінюються таким
чином (червоним кольором позначені відмінності):
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">Особа</th>
      <th class="table-bold">a scr<u>i</u>e</th>
      <th class="table-bold">a descr<u>i</u>e</th>
      <th class="table-bold">a prescr<u>i</u>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold">scr<u>i</u><span class="red-bold">u</span></td>
      <td class="table-bold">descr<u>i</u><span class="red-bold">u</span></td>
      <td class="table-bold">prescr<u>i</u><span class="red-bold">u</span></td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold">scr<u>i</u><span class="blue-bold">i</span></td>
      <td class="table-bold">descr<u>i</u><span class="blue-bold">i</span></td>
      <td class="table-bold">prescr<u>i</u><span class="blue-bold">i</span></td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold">scr<u>i</u><span class="blue-bold">e</span></td>
      <td class="table-bold">descr<u>i</u><span class="blue-bold">e</span></td>
      <td class="table-bold">prescr<u>i</u><span class="blue-bold">e</span></td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold">scr<u>i</u><span class="blue-bold">em</span></td>
      <td class="table-bold">descr<u>i</u><span class="blue-bold">em</span></td>
      <td class="table-bold">prescr<u>i</u><span class="blue-bold">em</span></td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold">scr<u>i</u><span class="blue-bold">eți</span></td>
      <td class="table-bold">descr<u>i</u><span class="blue-bold">eți</span></td>
      <td class="table-bold">prescr<u>i</u><span class="blue-bold">eți</span></td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold">scr<u>i</u><span class="red-bold">u</span></td>
      <td class="table-bold">descr<u>i</u><span class="red-bold">u</span></td>
      <td class="table-bold">prescr<u>i</u><span class="red-bold">u</span></td>
    </tr>
  </tbody>
</table>
</div>

  - дієслова які закінчуються на <i>-ble, -fle, -ple, -tre</i>, такі як
  <i>a umple</i>, відмінюються таким чином:
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">Особа</th>
      <th class="table-bold">a <u>u</u>mple (наповнювати)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold">Eu</td>
      <td class="table-bold"><u>u</u>mpl<span class="red-bold">u</span></td>
    </tr>
    <tr>
      <td class="table-bold">Tu</td>
      <td class="table-bold"><u>u</u>mpl<span class="blue-bold">i</span></td>
    </tr>
    <tr>
      <td class="table-bold">El, Ea</td>
      <td class="table-bold"><u>u</u>mpl<span class="blue-bold">e</span></td>
    </tr>
    <tr>
      <td class="table-bold">Noi</td>
      <td class="table-bold"><u>u</u>mpl<span class="blue-bold">em</span></td>
    </tr>
    <tr>
      <td class="table-bold">Voi</td>
      <td class="table-bold"><u>u</u>mpl<span class="blue-bold">eți</span></td>
    </tr>
    <tr>
      <td class="table-bold">Ei, Ele</td>
      <td class="table-bold"><u>u</u>mpl<span class="red-bold">u</span></td>
    </tr>
  </tbody>
</table>
</div>

Також, умовно дієслова з цієї групи можно розподілити на 3 підгрупи в залежності від закінчення у формі participiu
(дієприкметника минулого часу):
<div class="table-wrapper">
<table class="table-verb">
  <thead>
    <tr>
      <th class="table-bold">-</th>
      <th class="table-bold">Приклад</th>
      <th class="table-bold">Дієслова з підгрупи</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-bold"><span>s</span></td>
      <td class="table-bold">merge-mer<span class="blue-bold">s</span>, arde-ar<span class="blue-bold">s</span>, trage-tra<span class="blue-bold">s</span></td>
      <td class="table-bold">aduce, ajunge, alege, ascunde, atinge, atrage, arde, conduce, deschide, distruge, duce, închide, înțelege, învinge, merge, prinde, scoate, scrie, spune, șterge, traduce, trage, trimite, răspunde, zice</td>
    </tr>
    <tr>
      <td class="table-bold"><span>ut</span></td>
      <td class="table-bold">face-făc<span class="blue-bold">ut</span>, vinde-vând<span class="blue-bold">ut</span>, ține-țin<span class="blue-bold">ut</span></td>
      <td class="table-bold">bate, coase, concepe, crede, cunoaște, deține, începe, menține, naște, obține, pricepe, petrece, trece, ține, vinde, umple</td>
    </tr>
    <tr>
      <td class="table-bold"><span>t, pt</span></td>
      <td class="table-bold">coace-co<span class="blue-bold">pt</span>, fierbe-fier<span class="blue-bold">t</span>, 
        rupe-rup<span class="blue-bold">t</span>, suge-su<span class="blue-bold">pt</span></td>
      <td class="table-bold">coaсe, fierbe, rupe, sparge, suge</td>
    </tr>
  </tbody>
</table>
<hr />
<br />
Список дієслів третьої групи:
<!-- prettier-ignore -->
{% assign verb_list = site.data.verbe_3 %}
{% include verb_list.html rows=verb_list %}
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<ul>
  <li><strong lang="ro">Eu aduc cartea acasă. Tu aduci fructele. El aduce cadoul.</strong> <span lang="uk">(Я приношу книгу додому. Ти приносиш фрукти. Він приносить подарунок.)</span></li>
  <li><strong lang="ro">Noi ajungem la școală devreme. Voi ajungeți acasă. Ei ajung la timp.</strong> <span lang="uk">(Ми приходимо до школи рано. Ви приходите додому. Вони приходять вчасно.)</span></li>
  <li><strong lang="ro">Eu aleg merele roșii. Tu alegi cartea. Ea alege rochia.</strong> <span lang="uk">(Я вибираю червоні яблука. Ти вибираєш книгу. Вона вибирає сукню.)</span></li>
  <li><strong lang="ro">Această casă aparține familiei mele. Cartea aparține bibliotecii. Aceste lucruri aparțin copiilor.</strong> <span lang="uk">(Цей будинок належить моїй родині. Книга належить бібліотеці. Ці речі належать дітям.)</span></li>
  <li><strong lang="ro">Eu aprind lumina. Tu aprinzi focul. Mama aprinde televizorul.</strong> <span lang="uk">(Я вмикаю світло. Ти розпалюєш вогонь. Мама вмикає телевізор.)</span></li>
  <li><strong lang="ro">Lemnul arde în foc. Tu arzi hârtia. Focul arde puternic.</strong> <span lang="uk">(Дерево горить у вогні. Ти спалюєш папір. Вогонь горить сильно.)</span></li>
  <li><strong lang="ro">Eu mă ascund sub masă. Tu te ascunzi în grădină. Copilul se ascunde.</strong> <span lang="uk">(Я ховаюся під столом. Ти ховаєшся в саду. Дитина ховається.)</span></li>
  <li><strong lang="ro">Eu ating obiectul. Tu atingi suprafața. El atinge butonul.</strong> <span lang="uk">(Я торкаюся предмета. Ти торкаєшся поверхні. Він торкається кнопки.)</span></li>
  <li><strong lang="ro">Magnetul atrage fierul. Tu mă atragi. Ea atrage atenția.</strong> <span lang="uk">(Магніт притягує залізо. Ти мене притягуєш. Вона притягує увагу.)</span></li>
  <li><strong lang="ro">Eu bat cuie în perete. Tu bați mingea. El bate palma.</strong> <span lang="uk">(Я вбиваю цвяхи в стіну. Ти б'єш м'яч. Він плескає в долоні.)</span></li>
  <li><strong lang="ro">Eu coc pâinea. Tu coace prăjiturile. Bucătăreasa coace friptura.</strong> <span lang="uk">(Я печу хліб. Ти печеш тістечка. Кухарка пече м'ясо.)</span></li>
  <li><strong lang="ro">Eu cos hainele. Tu coși nasturii. Mama coase rochia.</strong> <span lang="uk">(Я шию одяг. Ти пришиваєш ґудзики. Мама шиє сукню.)</span></li>
  <li><strong lang="ro">Eu concep un plan. Tu concepi ideea. Arhitectul concepe clădirea.</strong> <span lang="uk">(Я замислюю план. Ти замислюєш ідею. Архітектор проектує будівлю.)</span></li>
  <li><strong lang="ro">Eu conduc mașina. Tu conduci echipa. Șoferul conduce autobuzul.</strong> <span lang="uk">(Я керую машиною. Ти керуєш командою. Водій керує автобусом.)</span></li>
  <li><strong lang="ro">Eu cred în tine. Tu crezi povestea. El crede în Dumnezeu.</strong> <span lang="uk">(Я вірю в тебе. Ти віриш історії. Він вірить у Бога.)</span></li>
  <li><strong lang="ro">Eu cunosc orașul. Tu cunoști limba. Ea cunoaște muzica.</strong> <span lang="uk">(Я знаю місто. Ти знаєш мову. Вона знає музику.)</span></li>
  <li><strong lang="ro">Eu deschid ușa. Tu deschizi fereastra. El deschide cartea.</strong> <span lang="uk">(Я відкриваю двері. Ти відкриваєш вікно. Він відкриває книгу.)</span></li>
  <li><strong lang="ro">Eu dețin casa. Tu deții mașina. Compania deține fabricile.</strong> <span lang="uk">(Я володію будинком. Ти володієш машиною. Компанія володіє фабриками.)</span></li>
  <li><strong lang="ro">Noi distrugem orașul. Voi distrugeți pădurea. Ei distrug clădirile.</strong> <span lang="uk">(Ми руйнуємо місто. Ви руйнуєте ліс. Вони руйнують будівлі.)</span></li>
  <li><strong lang="ro">Eu duc copilul la școală. Tu duci bagajele. El duce scrisoarea.</strong> <span lang="uk">(Я веду дитину до школи. Ти несеш багаж. Він несе лист.)</span></li>
  <li><strong lang="ro">Eu expun picturile. Tu expui ideile. Artistul expune lucrările.</strong> <span lang="uk">(Я виставляю картини. Ти висловлюєш ідеї. Художник виставляє роботи.)</span></li>
  <li><strong lang="ro">Eu fac temele. Tu faci mâncarea. Copiii fac zgomot.</strong> <span lang="uk">(Я роблю уроки. Ти готуєш їжу. Діти шумлять (роблять шум).)</span></li>
  <li><strong lang="ro">Apa fierbe. Tu fierbi ouăle. Mama fierbe supa.</strong> <span lang="uk">(Вода кипить. Ти вариш яйця. Мама варить суп.)</span></li>
  <li><strong lang="ro">Eu frig carnea. Tu frig legumele. Bucătăreasa frige peștele.</strong> <span lang="uk">(Я смажу м'ясо. Ти смажиш овочі. Кухарка смажить рибу.)</span></li>
  <li><strong lang="ro">Eu împing căruciorul. Tu împingi ușa. El împinge bicicleta.</strong> <span lang="uk">(Я штовхаю візок. Ти штовхаєш двері. Він штовхає велосипед.)</span></li>
  <li><strong lang="ro">Școala începe. Tu începi lecția. Filmul începe.</strong> <span lang="uk">(Школа починається. Ти починаєш урок. Фільм починається.)</span></li>
  <li><strong lang="ro">Eu închid ochii. Tu închizi ușa. Ea închide televizorul.</strong> <span lang="uk">(Я закриваю очі. Ти закриваєш двері. Вона вимикає телевізор.)</span></li>
  <li><strong lang="ro">Noi întreținem casa. Voi întrețineți conversația. Ei întrețin relația.</strong> <span lang="uk">(Ми утримуємо будинок. Ви підтримують розмову. Вони підтримують стосунки.)</span></li>
  <li><strong lang="ro">Eu înțeleg problema. Tu înțelegi limba. El înțelege explicația.</strong> <span lang="uk">(Я розумію проблему. Ти розумієш мову. Він розуміє пояснення.)</span></li>
  <li><strong lang="ro">Eu mă întorc acasă. Tu te întorci la școală. El se întoarce din călătorie.</strong> <span lang="uk">(Я повертаюся додому. Ти повертаєшся до школи. Він повертається з подорожі.)</span></li>
  <li><strong lang="ro">Noi învingem echipa. Voi învingeți adversarii. Ei înving dificultățile.</strong> <span lang="uk">(Ми перемагаємо команду. Ви перемагаєте суперників. Вони долають труднощі.)</span></li>
  <li><strong lang="ro">Eu mențin ordinea. Tu menții sănătatea. Doctorul menține tratamentul.</strong> <span lang="uk">(Я підтримую порядок. Ти підтримуєш здоров'я. Лікар підтримує лікування.)</span></li>
  <li><strong lang="ro">Eu merg la școală. Tu mergi acasă. Ei merg la plimbare.</strong> <span lang="uk">(Я йду до школи. Ти йдеш додому. Вони йдуть на прогулянку.)</span></li>
  <li><strong lang="ro">Mama naște un copil. Tu naști idei. Ea naște proiecte.</strong> <span lang="uk">(Мама народжує дитину. Ти народжуєш ідеї. Вона народжує проекти.)</span></li>
  <li><strong lang="ro">Eu obțin rezultate. Tu obții premiul. El obține informații.</strong> <span lang="uk">(Я отримую результати. Ти отримуєш приз. Він отримує інформацію.)</span></li>
  <li><strong lang="ro">Eu mă opun ideii. Tu te opui schimbării. Criticul se opune.</strong> <span lang="uk">(Я заперечую ідею. Ти заперечуєш зміну. Критик заперечує.)</span></li>
  <li><strong lang="ro">Părinții permit copiilor să iasă. Tu permiți accesul. Ea permite vizita.</strong> <span lang="uk">(Батьки дозволяють дітям виходити. Ти дозволяєте доступ. Вона дозволяє візит.)</span></li>
  <li><strong lang="ro">Noi petrecem timpul împreună. Voi petreceți vacanța. Ei petrec sărbătorile.</strong> <span lang="uk">(Ми проводимо час разом. Ви проводите відпустку. Вони проводять свята.)</span></li>
  <li><strong lang="ro">Eu pierd cheile. Tu pierzi timpul. El pierde meciul.</strong> <span lang="uk">(Я гублю ключі. Ти губиш час. Він програє матч.)</span></li>
  <li><strong lang="ro">Copilul plânge. Tu plângi de bucurie. Ea plânge tare.</strong> <span lang="uk">(Дитина плаче. Ти плачеш від радості. Вона плаче голосно.)</span></li>
  <li><strong lang="ro">Eu prind peștele. Tu prinzi mingea. Pescarul prinde peștii.</strong> <span lang="uk">(Я ловлю рибу. Ти ловиш м'яч. Рибалка ловить риб.)</span></li>
  <li><strong lang="ro">Eu promit să vin. Tu promiți ajutor. El promite răsplata.</strong> <span lang="uk">(Я обіцяю прийти. Ти обіцяєш допомогу. Він обіцяє винагороду.)</span></li>
  <li><strong lang="ro">Eu propun o idee. Tu propui soluția. Profesorul propune tema.</strong> <span lang="uk">(Я пропоную ідею. Ти пропонуєш рішення. Вчитель пропонує тему.)</span></li>
  <li><strong lang="ro">Eu pun masa. Tu pui hainele. Mama pune copilul la somn.</strong> <span lang="uk">(Я накриваю стіл. Ти кладеш одяг. Мама вкладає дитину спати.)</span></li>
  <li><strong lang="ro">Eu mă rad dimineața. Tu te razi zilnic. Bărbatul se rade.</strong> <span lang="uk">(Я голюся вранці. Ти голишся щодня. Чоловік голиться.)</span></li>
  <li><strong lang="ro">Eu rămân acasă. Tu rămâi la școală. El rămâne singur.</strong> <span lang="uk">(Я залишаюся вдома. Ти залишаєшся в школі. Він залишається сам.)</span></li>
  <li><strong lang="ro">Eu răspund la întrebare. Tu răspunzi mesajului. Studentul răspunde profesorului.</strong> <span lang="uk">(Я відповідаю на питання. Ти відповідаєш на повідомлення. Студент відповідає вчителю.)</span></li>
  <li><strong lang="ro">Eu râd de glumă. Tu râzi tare. Copiii râd cu poftă.</strong> <span lang="uk">(Я сміюся з жарту. Ти смієшся голосно. Діти сміються від душі.)</span></li>
  <li><strong lang="ro">Noi reducem prețurile. Voi reduceți costurile. Ei reduc emisiile.</strong> <span lang="uk">(Ми знижуємо ціни. Ви знижуєте витрати. Вони знижують викиди.)</span></li>
  <li><strong lang="ro">Eu rup hârtia. Tu rupi contractul. El rupe legătura.</strong> <span lang="uk">(Я рву папір. Ти рвеш контракт. Він рве зв'язок.)</span></li>
  <li><strong lang="ro">Eu scot pâinea din cuptor. Tu scoți banii. Mama scoate hainele.</strong> <span lang="uk">(Я виймаю хліб з печі. Ти виймаєш гроші. Мама виймає одяг.)</span></li>
  <li><strong lang="ro">Eu scriu o scrisoare. Tu scrii poezii. Elevul scrie tema.</strong> <span lang="uk">(Я пишу лист. Ти пишеш вірші. Учень пише твір.)</span></li>
  <li><strong lang="ro">Vaza se sparge. Tu spargi geamul. El sparge recordul.</strong> <span lang="uk">(Ваза розбивається. Ти розбиваєш скло. Він б'є рекорд.)</span></li>
  <li><strong lang="ro">Eu spun povestea. Tu spui adevărul. El spune gluma.</strong> <span lang="uk">(Я розповідаю історію. Ти говориш правду. Він розповідає жарт.)</span></li>
  <li><strong lang="ro">Noi strângem recolta. Voi strângeți hainele. Ei strâng banii.</strong> <span lang="uk">(Ми збираємо врожай. Ви збираєте одяг. Вони збирають гроші.)</span></li>
  <li><strong lang="ro">Copilul suge suzeta. Tu sugi suc. Pisica suge lapte.</strong> <span lang="uk">(Дитина смокче льодяник. Ти смокчеш сік. Кішка смокче молоко.)</span></li>
  <li><strong lang="ro">Noi susținem echipa. Voi susțineți cauza. Ei susțin proiectul.</strong> <span lang="uk">(Ми підтримуємо команду. Ви підтримуєте справу. Вони підтримують проект.)</span></li>
  <li><strong lang="ro">Eu șterg praful. Tu ștergi tabla. Mama șterge masa.</strong> <span lang="uk">(Я витираю пил. Ти витираєш дошку. Мама витирає стіл.)</span></li>
  <li><strong lang="ro">Eu traduc cartea. Tu traduci textul. Traducătorul traduce romanul.</strong> <span lang="uk">(Я перекладаю книгу. Ти перекладаєш текст. Перекладач перекладає роман.)</span></li>
  <li><strong lang="ro">Eu trag sania. Tu tragi concluzia. Câinele trage căruciorul.</strong> <span lang="uk">(Я тягну сани. Ти робиш висновок. Собака тягне візок.)</span></li>
  <li><strong lang="ro">Timpul trece repede. Tu treci strada. El trece examenul.</strong> <span lang="uk">(Час проходить швидко. Ти переходиш вулицю. Він складає іспит.)</span></li>
  <li><strong lang="ro">Eu trimit mesajul. Tu trimiți cadoul. El trimite invitația.</strong> <span lang="uk">(Я надсилаю повідомлення. Ти надсилаєш подарунок. Він надсилає запрошення.)</span></li>
  <li><strong lang="ro">Eu țin copilul. Tu ții cheia. Mama ține casa.</strong> <span lang="uk">(Я тримаю дитину. Ти тримаєш ключ. Мама тримає будинок.)</span></li>
  <li><strong lang="ro">Eu umplu paharul. Tu umpli sacul. Ea umple spațiul.</strong> <span lang="uk">(Я наповнюю склянку. Ти наповнюєш мішок. Вона заповнює простір.)</span></li>
  <li><strong lang="ro">Eu vând fructe. Tu vinzi mașina. Comerciantul vinde haine.</strong> <span lang="uk">(Я продаю фрукти. Ти продаєш машину. Торговець продає одяг.)</span></li>
  <li><strong lang="ro">Eu zic că vin. Tu zici povestea. El zice gluma.</strong> <span lang="uk">(Я кажу, що прийду. Ти розповідаєш історію. Він розповідає жарт.)</span></li>
</ul>
<hr />
<br />
<p>Перевірте як добре ви знаєте дієслова з цієї групи:</p>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/83b2dd37c626456c918cfcca7e13c6a1?themeId=41&templateId=76&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
