<h4>Відмінювання дієслова A AVEA (мати):</h4>
<table>
  <tr>
    <td>Особа</td>
    <td>Дієслово</td>
    <td>Приклад</td>
  </tr>
  <tr>
    <td>Eu (Я)</td>
    <td class="table-bold">am</td>
    <td>Eu am o pisică - Я маю кошку</td>
  </tr>
  <tr>
    <td>Tu (Ти)</td>
    <td class="table-bold">ai</td>
    <td>Tu ai lecții astăzi? - Маєш сьогодні уроки?</td>
  </tr>
  <tr>
    <td>El, Ea (Він, Вона)</td>
    <td class="table-bold">are</td>
    <td>Are copii? - (Він, вона) має дітей?</td>
  </tr>
  <tr>
    <td>Noi (Ми)</td>
    <td class="table-bold">avem</td>
    <td>Noi nu avem timp liber - Ми не маємо вільного часу</td>
  </tr>
  <tr>
    <td>Voi, Dvs. (Ви)</td>
    <td class="table-bold">aveți</td>
    <td>Aveți a casă frumoasă - Ви маєте гарний будинок</td>
  </tr>
  <tr>
    <td>Ei, Ele (Вони)</td>
    <td class="table-bold">au</td>
    <td>Au copii minunați - Вони мають чудових дітей</td>
  </tr>
</table>
<hr />
<br />
<h4>Перевірте себе:</h4>
<iframe
  style="max-width: 100%"
  src="https://wordwall.net/uk/embed/68db77933d1943c6ba9e0f460ebdeb33?themeId=1&templateId=36&fontStackId=0"
  width="500"
  height="380"
  frameborder="0"
  allowfullscreen
></iframe>
