$highlight-yellow: rgba(252, 209, 22, 0.2);
$font-main-color: #222831;

// Colors of Romanian flag
$flag-color-blue: rgb(0, 43, 127);
$flag-color-yellow: rgb(252, 209, 22);
$flag-color-red: rgb(206, 17, 38);
