.wrapper .site-title {
  font-weight: bolder;
  font-size: 1.3em;
}

@media screen and (min-width: 200px) {
  ul.post-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) {
  ul.post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  ul.post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

ul.post-list li {
  display: flex;
  gap: 10px;
  justify-content: center;
}
