---
---
@use "sass:color";
@import "variables";
body {
  font-family: monospace, ui-sans-serif, monospace, Courier, "Courier New";
  /* padding-top: 60px; */
  //   background-color: rgb(248, 248, 248);
  background-color: #f9fafb;
  //   color: rgb(17, 136, 119);
  color: $font-main-color;
}

p,
p > p,
p > div {
  font-size: 1.1em;
}

li.verb-list-item {
  margin-bottom: 8px;
}

.site-header .site-title {
  font-weight: bolder;
  font-size: 20px;
  /* line-height: 2em; */
}

.site-header .site-nav {
  top: 12px;
  right: 8px;
}

.site-header {
  border-top: none;
}

.site-header-flag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 6px;
}
.site-header-flag-1 {
  background-color: $flag-color-blue;
}
.site-header-flag-2 {
  background-color: $flag-color-yellow;
}
.site-header-flag-3 {
  background-color: $flag-color-red;
}
.page-content {
  padding: 10px 0;
  flex: 1;
}
ul.post-list {
  display: grid;
  gap: 15px;
}
@media screen and (min-width: 200px) {
  ul.post-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) {
  ul.post-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 600px) {
  ul.post-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  ul.post-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul.post-list li {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid grey;
  /* max-width: 200px; */
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(80, 70, 70); */
  :hover {
    background-color: color.scale($flag-color-yellow, $lightness: 60%);
  }
}

.post-title {
  font-weight: bolder;
  font-size: 28px;
  margin-bottom: 0;
}
.post-header {
  margin-bottom: unset;
  .post-meta {
    margin-bottom: 10px;
  }
}
.category-list {
  display: grid;
  gap: 15px;
  justify-content: center;
  margin-left: 0;
  padding: 20px;
}
@media screen and (min-width: 200px) {
  ul.category-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) {
  ul.category-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  ul.category-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
ul.category-list li {
  display: flex;
  justify-content: center;
  text-align: center;
}
a.category {
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 4px;
  color: $font-main-color;
  font-size: 18px;
}
a.category:hover {
  background-color: $highlight-yellow;
  /* border-width: 2px;
  padding: 18px; */
}

.site-footer {
  padding: 10px 0;
}
.footer-col {
  margin-bottom: 0;
}

.table-bold {
  font-weight: bolder;
  /* font-size: 115%; */
}

.social-link {
  font-weight: bolder;
  margin-bottom: 5px;
  color: #2a7ae2;
}

.table-custom-wrapper {
  width: 100%;
}

.table-custom {
  font-size: 18px;
  color: #444444;
  overflow-x: scroll;
  p {
    margin: 0;
  }
  td {
    cursor: pointer;
  }
}

.table-custom {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  font-size: 1.1em;
  color: $font-main-color;
  table-layout: fixed;
}
.table-custom th,
.table-custom td {
  padding: 8px;
  border: 1px solid #e0e0e0;
  text-align: left;
}
.table-custom th {
  background: #f1f5fb;
  color: #1976d2;
  font-weight: 700;
  font-size: 1.15em;
}
.table-custom tr:nth-child(even) {
  background: #f6f8fa;
}
.table-custom tr:hover {
  background: #e3f2fd;
}

.iframe-custom {
  display: block; /* iframes are inline by default */
  background: #000;
  border: none; /* Reset default border */
  height: 100vh; /* Viewport-relative units */
  width: 100vw;
  max-width: 100%;
}

/* Recent posts section */
.recent-posts {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}
.recent-post {
  // font-size: 24px;
  margin-bottom: 3px;
}

.table-column-toggle {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  line-height: 1.1em;
  margin-bottom: 5px;
  * {
    cursor: pointer;
  }
}
.lang-toggle {
  display: flex;
  // margin-bottom: 5px;
  align-items: center;
}
.lang-toggle-hint {
  margin-bottom: 5px;
  line-height: 1em;
  font-size: 0.8em;
  color: #555;
}
.table-lang-toggle {
  display: flex;
  flex-direction: row-reverse;
  flex: auto;
  margin-left: 5px;
}
.sticky {
  background-color: #f9fafb;
  padding: 10px 0 5px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}
.blue-bold {
  color: blue;
  font-weight: bolder;
}
.red-bold {
  color: red;
  font-weight: bolder;
}
.table-verb {
  width: auto;
  overflow-x: scroll;
  thead th {
    font-weight: bolder;
    background-color: #505050;
    color: white;
  }
  .col-verbul {
    background-color: $highlight-yellow;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    letter-spacing: 0.06em;
  }
}

table caption {
  caption-side: top;
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.fraze-verb {
  font-weight: bolder;
  background-color: $highlight-yellow;
}

.highlight-yellow {
  background-color: $highlight-yellow;
}

.verb-list {
  font-size: 1.1em;
  margin-bottom: 8px;
}

.main-font {
  font-size: 1.1em;
}

details summary {
  cursor: pointer;
  background-color: $highlight-yellow;
  &:hover {
    background-color: darken($highlight-yellow, 15%);
  }
}

details[open] summary {
  background-color: darken($highlight-yellow, 35%);
  margin-bottom: 0.5em;
}

.site-header-lang-selector {
  display: flex;
  font-weight: bolder;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1 0 auto;
  flex-direction: row-reverse;
}

.site-header-lang-label {
  background-color: $highlight-yellow;
  border: 1px solid $font-main-color;
  border-radius: 15%;
  padding: 4px 8px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
  align-self: baseline;
  font-size: 0.8em;
}
