body {
  font-family: monospace, ui-sans-serif, monospace, Courier, "Courier New";
}
.wrapper .site-title {
  font-weight: bolder;
  font-size: 20px;
  line-height: 2em;
}

.site-header {
  border-top: none;
}
.site-header-flag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 6px;
}
.site-header-flag-1 {
  background-color: rgb(0, 43, 127);
}
.site-header-flag-2 {
  background-color: rgb(252, 209, 22);
}
.site-header-flag-3 {
  background-color: rgb(206, 17, 38);
}
.page-content {
  padding: 10px 0;
  flex: 1;
}
ul.post-list {
  display: grid;
  gap: 15px;
}
@media screen and (min-width: 200px) {
  ul.post-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) {
  ul.post-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 600px) {
  ul.post-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  ul.post-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul.post-list li {
  display: flex;
  justify-content: center;
  text-align: center;
  /* max-width: 200px; */
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(80, 70, 70); */
}

.post-title {
  font-weight: bolder;
  font-size: 28px;
  margin-bottom: 5px;
}

.category-list {
  display: grid;
  gap: 15px;
  justify-content: center;
  margin-left: 0;
  padding: 20px;
}
@media screen and (min-width: 200px) {
  ul.category-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) {
  ul.category-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  ul.category-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
ul.category-list li {
  display: flex;
  justify-content: center;
  text-align: center;
}
a.category {
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 4px;
  color: #111;
  font-size: 18px;
}
a.category:hover {
  background-color: rgb(252, 209, 22, 0.2);
  /* border-width: 2px;
  padding: 18px; */
}

.site-footer {
  padding: 10px 0;
}
.footer-col {
  margin-bottom: 0;
}

.table-bold {
  font-weight: bolder;
  font-size: 115%;
}

.social-link {
  font-weight: bolder;
  margin-bottom: 5px;
  /* font-size: 120%; */
  color: #2a7ae2;
}
