body {
  font-family: monospace, ui-sans-serif, monospace, Courier, "Courier New";
}
.wrapper .site-title {
  font-weight: bolder;
  font-size: 20px;
}

@media screen and (min-width: 200px) {
  ul.post-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320px) {
  ul.post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  ul.post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
ul.post-list {
  gap: 10px;
}
ul.post-list li {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(80, 70, 70); */
}
