<h4>
  Слова, що стосуються частин тіла та органів людини, включають назви основних
  регіонів (голова, шия, тулуб, кінцівки) та більш специфічні терміни, як-от
  мозок, серце, легені, а також зовнішні частини, такі як очі, ніс, рот, руки та
  ноги.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.corpul_uman %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua">{{ row.ua | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
