<h4>
  Це прикметники, які мають протилежні значення. Вивчення антонімів допоможе
  тобі краще розуміти нюанси мови та покращити свої навички спілкування.
</h4>
{% include table_toggle.html %}
<table class="table-custom">
  {% for row in site.data.adjective_antonime %}
  <tr>
    <td class="col-ro table-bold">{{ row.ro | markdownify }}</td>
    <td class="col-ua" lang="uk">{{ row.ua | markdownify}}</td>
    <td class="col-ru" lang="ru">{{ row.ru | markdownify}}</td>
  </tr>
  {% endfor %}
</table>
<hr />
<br />
<p><u>Exemple de propoziții / Приклади речень</u></p>
<p>
  <strong>Copilul este bun, dar uneori poate fi și rău.</strong> (Дитина добра,
  але іноді може бути й поганою.)
</p>
<p>
  <strong
    >Acest peisaj este foarte frum<u>o</u>s, spre deosebire de cel urât de
    ieri.</strong
  >
  (Цей краєвид дуже гарний, на відміну від учорашнього потворного.)
</p>
<p>
  <strong>Avem o casă mare, iar vecinii noștri au una mică.</strong> (У нас
  великий будинок, а у наших сусідів — маленький.)
</p>
<p>
  <strong>Puloverul meu este gros, dar al tău este subț<u>i</u>re.</strong> (Мій
  светр товстий, а твій — тонкий.)
</p>
<p>
  <strong>Astăzi este cald, dar ieri a fost rece.</strong> (Сьогодні тепло, а
  вчора було холодно.)
</p>
<p>
  <strong
    >Camera este lumino<u>a</u>să dimineața, dar devine întunec<u>a</u>tă
    seara.</strong
  >
  (Кімната світла вранці, але стає темною ввечері.)
</p>
<p>
  <strong>Acest telefon este nou, iar celălalt este vechi.</strong> (Цей телефон
  новий, а інший — старий.)
</p>
<p>
  <strong
    >Bunica mea este bătr<u>â</u>nă, iar sora mea este t<u>â</u>nără.</strong
  >
  (Моя бабуся — стара, а сестра — молода.)
</p>
<p>
  <strong
    >Prietenul meu este foarte gener<u>o</u>s, nu este zgârc<u>i</u>t
    deloc.</strong
  >
  (Мій друг дуже щедрий, зовсім не скупий.)
</p>
<p>
  <strong>El este feric<u>i</u>t astăzi, dar ieri era trist.</strong> (Він
  сьогодні щасливий, а вчора був сумний.)
</p>
<p>
  <strong>Scriu cu mâna stângă, dar sora mea scrie cu dreapta.</strong> (Я пишу
  лівою рукою, а моя сестра — правою.)
</p>
<p>
  <strong>Ușa este desch<u>i</u>să, dar fereastra este înch<u>i</u>să.</strong>
  (Двері відчинені, а вікно зачинене.)
</p>
<p>
  <strong>Paharul este plin cu apă, iar celălalt este gol.</strong> (Склянка
  повна води, а інша — порожня.)
</p>
<p>
  <strong>Acest răspuns este adevăr<u>a</u>t, celălalt este fals.</strong> (Ця
  відповідь правильна, а інша — неправильна.)
</p>
<p>
  <strong>Rezolvarea ta este corectă, dar a colegului este greșită.</strong>
  (Твоє розв’язання (рішення) правильне, а однокласника — неправильне.)
</p>
<p>
  <strong>Piersica este coptă, dar mărul este crud.</strong> (Персик стиглий, а
  яблуко — недостигле.)
</p>
<p>
  <strong
    >Pâinea este pro<u>a</u>spătă, dar laptele este stric<u>a</u>t.</strong
  >
  (Хліб свіжий, а молоко — зіпсоване.)
</p>
<p>
  <strong>Lămâia este acră, dar mierea este dulce.</strong> (Лимон кислий, а мед
  солодкий.)
</p>
<p>
  <strong
    >Prosopul este um<u>e</u>d după baie, dar după o oră devine
    usc<u>a</u>t.</strong
  >
  (Рушник вологий після купання, але через годину стає сухим.)
</p>
