---
layout: default
---

<div class="home">
  <!-- {{ site.data.category_aliases | jsonify | safe }} -->
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {%- if site.posts.size > 0 -%}

  <div>
    <strong>Останні додані матеріали:</strong>
  </div>
  <ul>
    {% for post in site.posts limit: 3 %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      <span style="color: #888; font-size: 0.9em"
        >({{ post.date | date: "%d.%m.%Y" }})</span
      >
    </li>
    {% endfor %}
  </ul>

  <ul class="category-list">
    {% for category in site.data.category_aliases %} {% assign alias =
    category[0] %}
    <li>
      <a class="category" href="/{{ alias }}/">
        <img src="/assets/category-icons/{{ alias }}.png" alt="{{ alias }}" />
        <!-- <span>{{ alias }}</span> -->
      </a>
    </li>

    {% endfor %}
  </ul>

  {%- endif -%}
</div>
