---
layout: default
---

<!-- <nav class="post-nav" style="margin-bottom: 1em">
  {% if page.categories and page.categories.size > 0 %} {% assign cat =
  page.categories[0] %}
  <a href="/{{ cat }}/" class="nav-up">
    ⬆ Назад до категорії: {{ site.data.category_aliases[cat] | default: cat |
    capitalize }}
  </a>
  {% endif %}
</nav> -->
<nav class="breadcrumbs" style="margin-bottom: 1em">
  <a href="{{ '/' | relative_url }}">Головна</a>
  {% if page.categories and page.categories.size > 0 %} {% assign cat =
  page.categories[0] %} >
  <a href="/{{ cat }}/"
    >{{ site.data.category_aliases[cat] | first_part | default: cat | capitalize
    }}</a
  >
  {% endif %} > <span>{{ page.title | escape }}</span>
</nav>
<!-- <nav class="breadcrumbs" style="margin-bottom: 1em">
  <a href="{{ '/' | relative_url }}">Головна</a>
  {% if page.categories and page.categories.size > 0 %} {% assign cat =
  page.categories[0] %} &nbsp;→&nbsp;
  <a href="/{{ cat }}/">
    {{ site.data.category_aliases[cat] | default: cat | capitalize }}
  </a>
  {% endif %} &nbsp;→&nbsp;
  <span>{{ page.title | escape }}</span>
</nav> -->
<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
